@{
    ViewData["Title"] = "Home Page";
}

<div class="d-sm-inline-flex justify-content-between">
    <ul class="flex-grow-1">        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MovieSearchForm">Movie Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MovieNightForm">Movie Night</a>
        </li>
    </ul>
</div>